<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/Layout_01}">

<!-- 사용자 스크립트 추가 -->

<th:block layout:fragment="script">
  <script th:inline="javascript">

    </script>
</th:block>

<div layout:fragment="content">
  <div class="wrap">
    <figure class="main_content h-100" >
      <div class="main_img_slider">
        <span th:each="url: ${img_url_list}">
          <img th:src="${url}" height="500">
          </img>
        </span>
      </div>
      <figcaption class="main_info end-0">
        <div class="head">
          <div class="tag"></div>
          <hr>
           <div class="title fs-1"  th:text="${item_dto.name}"></div>
          <hr>
        </div>
        <div class="body position-absolute w-100">
          <dl class="price d-flex w-100 align-items-center">
            <dt class="fs-4">판매가격</dt>
            <dd class="fs-5 my-auto position-absolute  end-50" th:text="${#numbers.formatInteger(item_dto.price,3,'COMMA')+ '원'}"></dd>
          </dl>
          <dl class="deposit d-flex w-100 align-items-center">
            <dt class="fs-4">적립금</dt>
            <dd class="fs-5 my-auto position-absolute  end-50 " th:text="'1%(' + ${#numbers.formatInteger(item_dto.price / 100 ,1,'COMMA') + '원)'}"></dd>
          </dl>
          <form th:action id="item_form"  class="button_group d-flex w-75 align-items-center" enctype="multipart/form-data" th:object="${order_dto}" method="post">
            <input type="text" th:field="*{id}" hidden="">
            <input type="number"  th:field="*{count}" >
            <button id="purchase" class="btn btn-primary w-50 ms-1" type="submit" th:formaction="@{'/order/new'}">구매하기</button>
            <button id="cart" class="btn btn-warning w-25 ms-1" type="submit" th:formaction="@{'/cart/add'}">장바구니</button>
          </form>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
</html>
