<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div th:fragment="header" class="header">
    <div class="wrap">
      <!--  -->
      <nav class="navbar navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/member/login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member/new">회원 가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">장바구니</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">주문내역</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/login">구매후기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/logout">AS 기술지원</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--  -->
      <nav class="navbar navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto ml-0">
            <li class="nav-item">
              <a href="/" class="navbar-brand"><h1>KeyBoard</h1></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member/login">멤브레인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member/new">기계식</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">무접점</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">로우프로 파일</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/login">키보드 액세서리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/logout">이벤트</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="right_popup">
        <div class="kakko"></div>
        <div class="recent"></div>
        <div class="after_service"></div>
        <div class="wish_list"></div>
      </div>
    </div>
  </div>
</html>
