html {
  position: relative;
  min-height: 100%;
  margin: 0;
  color: white !important;
}

body {
  width: 100vw;
  height: 3000px;
  min-height: 100%;
}

.header {
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.content {
  position: relative;
  top: -250px;
}

a {
  color: white !important;
}
