@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.nav-fix {
  position: fixed;
  animation: down 0.5s ease;
}
.header {
  position: relative;
  top: 0;
  font-size: 12px;
  width: 100vw;
  z-index: 9999;
}
.header .wrap {
  width: 1100px;
  height: 250px;
  position: relative;
  margin: 0 auto;
}

.header nav {
  position: relative;
  width: 100%;
}

.header nav:nth-child(1) {
  left: 0;
}
.header nav:nth-child(2) {
  top: 100px;
  right: 0;
  font-size: 15px;
  padding: 0 0 !important;
  transition: all 0.3s;
}

.header nav.fixed {
  position: fixed;
  display: flex;
  background-color: white;
  top: 0px;
  height: 70px;
  justify-content: center;
}

.header nav * {
  color: white !important;
}

.header nav.fixed * {
  color: black !important;
}

.header nav.fixed ul {
  margin-top: 2.5rem !important;
}

.content .wrap {
  width: 1100px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.main_title {
  width: 100%;
  height: 700px;
  top: 50px;
  position: relative;
  text-align: center;
}

.catagory_group_01 {
  width: 100%;
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 270px 270px;
  justify-content: center;
  align-items: center;
}

.catagory_group_01 > div {
  width: 250px;
  height: 250px;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
}

.top_background_side {
  width: 100vw;
  height: 700px;
  background-color: black;
  position: relative;
}
.top_background {
  position: relative;
  width: 1100px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background: linear-gradient(to left, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 25%, rgba(20, 20, 20, 0) 50%, rgba(20, 20, 20, 0.75) 75%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(to right, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 25%, rgba(20, 20, 20, 0) 50%, rgba(20, 20, 20, 0.75) 75%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(to top, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 25%, rgba(20, 20, 20, 0) 50%, rgba(20, 20, 20, 0.75) 75%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(to bottom, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 25%, rgba(20, 20, 20, 0.5) 50%, rgba(20, 20, 20, 0.75) 75%, rgba(0, 0, 0, 1) 100%), url("../img/main_01.jpg");
  background-size: cover;
}

.bottom_title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  position: absolute;
  bottom: 13px;
  left: 24px;
  color: white;
  z-index: 20;
  transition: all 0.5s 0.2s;
}

.catagory_group_01 > div:hover .bottom_title {
  bottom: 125px;
  transition-delay: 0;
}

.bottom_sub {
  width: 100%;
  font-size: 14px;
  text-align: left;
  position: absolute;
  color: white;
  bottom: -20px;
  left: 23px;
  z-index: 20;
  transition: all 0.5s;
  font-weight: 200;
}

.catagory_group_01 > div:hover .bottom_sub {
  bottom: 100px;
  transition-delay: 0.4s;
}

.bottom_background {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  z-index: 10;
  transition: all 0.5s;
}

.catagory_group_01 > div:hover .bottom_background {
  height: 100%;
}

.navbar-brand {
  top: -22px;
  position: relative;
}

.main_logo {
  font-family: "Nova Mono", monospace;
}

.form-group {
  border-bottom: gray solid 1px;
  border-top: gray solid 1px;
  margin-bottom: 0 !important;
  height: 60px;
}
form > label {
  border-bottom-color: rgb(210, 195, 173);
  border-bottom: solid 1px;
  color: rgb(255, 255, 255);
}
.form-group label {
  font-size: 15px !important;
  background-color: rgb(42, 45, 47);
  color: rgb(255, 255, 255);
  line-height: 2.5 !important;
  font-family: "neo_light" !important;
}

.form-control {
  font-size: 0.5rem !important;
  border-radius: 0 !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#star {
  color: red;
}

#email_check,
#email_reset,
#nickname_check,
#nickname_reset {
  height: 30px !important;
  line-height: 10px !important;
  margin: auto 10px;
  width: 100px;
}

.h-70 {
  height: 70% !important;
}
.form_box {
  position: relative;
}
.login_tag {
  width: 80% !important;
  height: 50px !important;
}
.login_form {
  width: 43%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
  border-right: 1px solid;
}

.sign_form {
  width: 43%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}
